.App {
  padding: 50px;
  text-align: center;
}

.App h1 {
  font-size: 2em; /* Ajuste o tamanho da fonte conforme necessário */
  margin-bottom: 20px;
}

.App p {
  font-size: 1.2em; /* Ajuste o tamanho da fonte conforme necessário */
  color: #555; /* Ajuste a cor conforme necessário */
}